-if @agencies
  =render partial: "admins/agency", collection: @agencies
-elsif @applicants
  =render partial: "admins/applicant", collection: @applicants
-elsif @admins
  =render partial: "admins/admin", collection: @admins
-elsif @users
  =render partial: "admins/user", collection: @users