.admins-container
  =link_to "Add a new agency", new_admin_user_path("agency")
  =link_to "Add a new applciant", new_admin_user_path("applciant")
  =link_to "Add a new admin", new_admin_user_path("admin")
  -if @agencies
    %h5 All Agencies
    .agency-container.header
      %p Agency
      %p Status
      %p Kind
      %p Date Joined
      %p Page
    =render partial: "admins/agency", collection: @agencies
  -elsif @applicants
    %h5 All Applicants
    .applicant-container.header
      %p Agency
      %p Date Joined
      %p Page
    =render partial: "admins/applicant", collection: @applicants
  -elsif @admins
    All Admins
    =render partial: "admins/admin", collection: @admins
  -elsif @users
    All Users
    =render partial: "admins/user", collection: @users