.application-container
  .container-wide
    -if application.job.agency.user.avatar.attached?
      =image_tag application.job.agency.user.avatar.variant(:msg)
    -else
      =image_tag "no_avatar.png", size: "50"
    .name-container
      %p.name=application.job.title
      %p.ago="Last updated: #{time_ago_in_words(application.job.updated_at)} ago"
  
  .agency
    %p.name=application.job.agency.name

  .date
    =application.job.created_at.to_date
  
  .resume-download-link
    -if application.applicant.resume_file.attached?
      = link_to rails_blob_path( application.applicant.resume_file, disposition: 'attachment') do
        %i.material-icons file_download
        ="#{application.applicant.resume_file.filename}".truncate(20)
        -# = link_to "Download #{@applicant.resume_file.filename}", rails_blob_path( @applicant.resume_file, disposition: 'attachment')
    -else
      No resume uploaded yet.


