=form_for(@job, html: {"data-turbo": "false"}) do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg
  -if current_user.admin
    .field
      =f.label :agency_id, "Agency ID but replace to agency name"
      =f.text_field :agency_id
  -elsif current_user.agency
    =f.hidden_field :agency_id, value: current_user.agency.id
  .job-title
    =f.label :title, "Job title"
    %br/
    =f.text_field :title

  .job-description
    =f.label :desc, "Job description"
    %br/
    =f.rich_text_area :desc

  .job-title 
    =f.label :employer, "Company"
    %br/
    =f.text_field :employer

  .job-location
    =f.label :location, "Location"
    %br/
    =f.select(:location, Job.available_countries.map{ |value| [value, value] })

  .job-salary
    =f.label :salary, "Salary (Php)"
    %br/
    =f.number_field :salary
  
  .actions
    = f.submit 'Save'
