<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&family=Poppins&family=Quicksand:wght@700&family=Raleway:wght@300;700&family=Roboto&display=swap" rel="stylesheet">
</head>


<div class="job-grid-wrapper">
  <% @results.each do |result| %>
    <%= render partial: "jobs/job", locals: {job: result} %>
  
  <% end %>
</div>