NEW HTML HAML 

=form_for @user do |f|
  = render 'layouts/error_messages', object: f.object
  .field
    =f.label :email
    =f.email_field :email
  .field
    =f.label :password
    =f.password_field :password
  .field
    =f.label :password_confirmation
    =f.password_field :password_confirmation
  .field
    =f.file_field :avatar

  -if @agency
    =render partial: 'devise/registrations/agency/form', locals: {form: f, agency: @agency, resource: @user}
  -elsif @applicant
    =render partial: 'devise/registrations/applicant/form', locals: {form: f, applicant: @applicant, resource: @user}
  -elsif @admin
    =render partial: 'devise/registrations/admin/form', locals: {form: f, admin: @admin, resource: @user}

  .actions
    =f.submit