.mainfooter-wrapper
  =image_tag 'abrodie-logo-black.png', class:'black-logo'
  .mainfooter-links
    =image_tag 'footer.png', class:'footer'
-if current_user
  .footer-wrapper
    =image_tag 'abrodie-logo-black.png', class:'black-logo'
    .footer-links
      =image_tag 'footer.png', class:'footer'