%head
  %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
  %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
  %link{:href => "https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Poppins&family=Raleway:wght@500&family=Roboto&display=swap", :rel => "stylesheet"}/

-if current_user
  -if current_user.applicant
    .sidenav-wrapper
      .sidenav-logo
        =image_tag 'abrodie-logo-white.png', class:'white-logo'
      .sidenav-links
        #guidelines
          %ion-icon{:name => 'list-box'}
          =link_to "Guidelines", guidelines_path
        #profile
          %ion-icon{:name => 'person'}
          =link_to "Your Profile", user_path(current_user)
        #jobs
          %ion-icon{:name => 'briefcase'}
          =link_to "Jobs & Agencies", jobsandagencies_path
        #apps
          %ion-icon{:name => 'clipboard'}
          =link_to "Applications", applications_path
        #messages-sidenav
          %ion-icon{:name => 'mail-open'}
          =link_to "Messages", room_path("drafts_#{current_user.id}")
        #sign-out
          %ion-icon{:name => 'arrow-round-forward'}
          =link_to "Sign out", destroy_user_session_path, data: {'turbo-method': :delete}
          
  -elsif current_user.agency
    .sidenav-wrapper
      .sidenav-logo
        =image_tag 'abrodie-logo-white.png', class:'white-logo'
      .sidenav-links
        #profile
          %ion-icon{:name => 'person'}
          =link_to "Recruiter Profile", user_path(current_user)
        #jobs
          %ion-icon{:name => 'briefcase'}
          =link_to "Job Listing", jobs_path
        #apps
          %ion-icon{:name => 'clipboard'}
          =link_to "Applications", applications_path
        #messages-sidenav
          %ion-icon{:name => 'mail-open'}
          =link_to "Messages", room_path("drafts_#{current_user.id}")
        #sign-out
          %ion-icon{:name => 'arrow-round-forward'}
          =link_to "Sign out", destroy_user_session_path, data: {'turbo-method': :delete}
          
  -elsif current_user.admin
    .sidenav-wrapper
      .sidenav-logo
        =image_tag 'abrodie-logo-white.png', class:'white-logo'
      .sidenav-links
        #profile
          %ion-icon{:name => 'person'}
          =link_to "Agencies", admin_users_path("agency")
        #jobs
          %ion-icon{:name => 'people'}
          =link_to "Applicants", admin_users_path("applicant")
        #sign-out
          %ion-icon{:name => 'arrow-round-forward'}
          =link_to "Sign out", destroy_user_session_path, data: {'turbo-method': :delete}