.guidelines-wrapper
    .row-wrapper
        .row.col.s6
            .guidelines-title
                %h1 Let's Get Started!
    .row2-wrapper
        .row
            .col.s6.offset-s6
                .instructions
                    %h3 Here are some guidelines to get you started
                    %p Click on Jobs and Agencies 
                    %p Once you click on the Jobs and Agencies page, you can browse and see what job suits you
                    %p Click to see the Job and you can send them your resume