<head>
  <link href="https://fonts.googleapis.com" rel="preconnect"></link>
  <link href="https://fonts.gstatic.com" rel="preconnect"></link>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Poppins&family=Raleway:wght@500&family=Roboto&display=swap" rel="stylesheet"></link>
</head>

<div class='guidelines-wrapper'>
    <div class='guidelines-title'>
        <h5> Kamusta, Kabrodie? </h5>
        <br/>
        <p>
            Welcome to the easiest way to apply for a job abroad. <br/>
            Refer to this page anytime you need guidance in your application journey.<br/>
            Just follow the steps and you'll be on your way.
        </p>
    </div>
    <div class='guidelines-content'>
    1. Complete your Profile and make sure your details are complete and up-to-date. <br/>
    2. Upload a clear picture of face. <br/>
    3. In writing your resume: Keep it simple. Keep it real. For additional tips: <br/>
        <% 2.times do %>
            &nbsp;
        <% end %>
        https://www.balikbayad.ph/blog/resume-writing-a-guide-for-ofws-and-make-yours-stand-out/ <br/>
    4. Go to Jobs and Agencies to see all available jobs and agencies. All agencies are POEA-accredited.<br/>
    5. You can see the rating of the agency and the reviews left by other applicants.<br/>
        <% 2.times do %>
            &nbsp;
        <% end %>
       You may also leave a review after your experience with the agency. <br/>
       <% 2.times do %>
        &nbsp;
       <% end %>
       Kindly be honest. This helps us and other applicants find the best agencies to apply to. <br/>
    6. When you find a job you want to apply to, just click 'Apply to this job'. <br/>
       <% 2.times do %>
        &nbsp;
       <% end %>
       Your resume and details will automatically be sent to the agency. <br/>
    7. After applying, wait for the agency to contact you. They will message you directly through the app. <br/>
    8. For further assistance and any complaints, you may contact us through abrodie@help.com. We are always ready to help you.<br/><br/>
    <h6> Good luck sa'yo, Kabrodie!</h6>
    </div>
</div> 