#messages
  -# Expands to =render partial messages/message, collection: room.messages
    #messages above is IMPORTANT btw for real time chat to work
    apparently turbo looks for the id also
  =render partial: "messages/message", collection: room.messages.where.not(body: nil)

.msg-form
  =render "messages/new", message: message, room: room