
=turbo_stream_from @room

.rooms-show-container
  .sidebar
    .searchbar
      %input{type: "text", class: "chat-search", placeholder: "Persons, Groups, Chats"}
      %i{class:"material-icons"}="search"
    .user-container
      =link_to "#{get_user_name(current_user)} (Drafts)", room_path("drafts_#{current_user.id}")
      -@users.each do |user|
        =link_to get_user_name(user), room_path(get_room_name(current_user, user))
  .convo-container
    .convo-header
      =get_user_name(@other_user)
      -if @other_user == current_user
        (Drafts)
    =render 'rooms/messages', room: @room, message: @message

-# -@messages.each do |msg|
-#   =msg.user.email
-#   %br/
-#   =msg.body
-#   %br/

-# =form_with model: [@room, @message], remote: true do |f|
-#   =f.text_field :body
-#   =f.submit "Send", data: {disable_with: false}