.nav-wrapper {
    width: 100vw;
    background-color: #FFFFFF;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    .black-logo {
        height: 5em;
        padding-left: 30%;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        padding-right: 3%;
        font-size: 0.9em;
        a {
            color: #000000;
            border-bottom: 4px solid #4540DB;
            font-weight: 800;
        }
        #employer {
            border-bottom: 4px solid #8d6cee;
            align-self: flex-start;
        }
        .login {
            background-color: #4540DB;
            color: #FFFFFF;
            border-radius: 3px;
            padding: 4px 4px 0px 4px;
            font-weight: 200;
        }
    }
}