.footer-wrapper {
    position: fixed;
    width: 100vw;
    background-color: #FFFFFF;
    padding: 0.5%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    .black-logo {
        height: 5em;
        padding-left: 3%;
    }
    .footer-links {
        display: flex;
        flex-direction: row;
        padding-right: 3%;
        font-size: 0.9em;
        color: #000000;
    }
    .footer {
        height: 5.1em;
    }
}