.nav-wrapper {
    width: 100vw;
    background-color: #FFFFFF;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    .black-logo {
        height: 5em;
        padding-left: 30%;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        padding-right: 3%;
        font-size: 0.9em;
        a {
            color: #000000;
            border-bottom: 4px solid #4540DB;
            font-weight: 800;
        }
        a:active {
            border-bottom: 4px solid #8d6cee;
            align-self: flex-start;
        }
        .login {
            background-color: #4540DB;
            color: #FFFFFF;
            border-radius: 3px;
            padding: 4px 4px 0px 4px;
            font-weight: 200;
        }
    }
}

.sidenav-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background: #4540DB;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    .white-logo {
        width: 13em;   
    }
    .sidenav-links {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        justify-content: center;
        color: #FFFFFF;
        font-family: 'Mulish', sans-serif;
        padding: 10px;
        padding-top: 30%;
        a {
            color: #FFFFFF;
            padding-left: 5%;
            font-size: 1rem;
        }
        #guidelines, #profile, #jobs, #apps, #messages-sidenav {
            padding-top: 7%;
        }
        #sign-out {
            border-top: 1px solid rgba(211, 211, 211, 0.685);
            margin-top: 20%;
            padding-top: 30%;
        }
    }
}
