.topnav {
    margin: 25px;
    margin-bottom: 35px;
    padding-left: 50px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
}