.jobsandagencies-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 80%;
    #job {
        width: 50%;
        position: relative;
        span {
            position: absolute;
            display:inline-block;
            padding-left:.5rem;
            padding-top: .5rem;
        }
        input {
            padding: .5rem;
            padding-left: 2rem;
            border-radius: 25px;
            outline: none;
            border-bottom: none;
            box-shadow: none;
        }
    }
}

.find-job-btn {
    background: #4540db;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    border-radius: 0 15px 15px 0;
    border-style: none;
    box-shadow: none;
}
.job-card-title {
    position: fixed;
}
.joblisting-wrapper {
    height: 80vh;
    .job-card-wrapper {
        overflow-y:scroll;
    }
}