.rooms-show-container{
  margin: auto;
  box-sizing: border-box;
  display:flex;
  flex-flow: row;
  width: clamp(300px, 100%, 1500px);
  padding: 30px;
  height: 100%;

  .sidebar{
    width: min-content;
    padding: 20px;
    display: flex;
    flex-flow: column;

    .searchbar{
      display:flex;
      flex-flow:row;
      justify-content: center;
      align-items: center;
    }

    .users-container{
      display:flex;
      flex-flow: column;
      overflow-y: auto;
      width: 370px;

      .user-container{
        display: grid;
        grid-template-columns: 72px 3fr 1fr;
        grid-template-areas: "img name time";
        column-gap: 5px;
        margin: 8px 0;
        padding: 0 10px;
        height: 82px;
        width: 100%;
        place-items:center;
        border-radius: 16px;
        color: black;

        .img{
          grid-area: img;
          height: 72px;
          width:72px;
          border-radius: 50%;
          overflow:hidden;
          margin-right: 5px;
        }
        .name{
          width: 100%;

          grid-area: name;
          font-weight: 700;
          font-size: 18px;

          overflow: hidden;
          white-space:nowrap;
          text-overflow: ellipsis;
          color: inherit;

          justify-self: start;
        }
        .time{
          grid-area: time;
          font-weight: 400;
          font-size: 14px;

          overflow: hidden;
          white-space:nowrap;
          text-overflow: ellipsis;
          color: inherit;
        }
      }
      .active{
        background: #8CEEC187;
      }
    }
  }

  .convo-container{
    // display:flex;
    // flex-flow: column;

    display: grid;
    // grid-template-rows: 200px minmax(1fr) 200px;
    
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "header"
      "convo"
      "form";
    padding: 20px;
    width: 100%;
    overflow-y: auto;

    .convo-header{
      grid-area: header;
      font-size: 24px;
      font-weight: 700;
    }

    #messages{
      // grid-area: convo;
      // flex-grow: 1;
      overflow-y: auto;
      .message{
        .img-div{
          width: 50px;
          height: 50px;
          img{
            border-radius: 50%;
          }
        }
        .time-msg-div{
          margin: 0 5px;
          .msg-div{
            line-height: 170%;
          }
        }
      }
    }

    .msg-form{
      // grid-area: form;
      margin: 10px 0;
      padding: 0 20px;
      background: #E9E9E9;
      border-radius: 50px;
      form{
        display:flex;
        align-items: center;
        justify-content: space-between;
        #message_body {
          margin: 0;
          padding: 0;

          border-bottom: none;
          outline: none;
          box-shadow: none;
        }
        #message_submit{
          vertical-align: middle;
          border:none;
          padding: 5px;
          border-radius: 50%;
        }
      }
    }
  }
}