.application-container{
    font-family: 'Mulish';
    display:grid;
    grid-template-columns: 1fr 120px 120px 50px;
    padding: 10px 15px;
    border-bottom: 1px solid #DEDEDE;
    align-items: center;
    &:hover{
    background-color: #3751FF0F;
    }
    &.header{
    pointer-events: none;
        p{
        color: #9FA2B4;
        }
      }
    .container-wide{
        display:flex;
        flex-flow: row;
        align-items:center;
        img{
          border-radius: 5px;
        }
        .name-container{
          display:flex;
          flex-flow: column;
          justify-content: space-between;
          padding-left: 20px;
          .name{
            font-weight: 600;
            font-size: 1.5em;
          }
          .ago{
            font-size: 0.8em;
            color: #9FA2B4;
          }
        }
        
      }
}

.heading-app{
font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.4px;

/* grayscale / black */
padding-top: 50px;
padding-left: 30px;
padding-bottom: 10px;
color: #252733;
display:grid;
padding: 10px 15px;
}

.title-headings{
display:grid;
grid-template-columns: 1fr 120px 120px 50px;
padding: 10px 15px;
border-bottom: 1px solid #DEDEDE;
color:  #9FA2B4;
font-family: Mulish;
}

.agency {
    padding-right: 50px;
}
