.guidelines-title {
    color: #4540DB;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

.guidelines-wrapper{
    height: 100%;
    display: flex;
    flex-direction: row;
    .row-wrapper {
        display: flex;
        align-items: center;
    }
}
