.main-container-signup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .075fr 1fr;
        grid-template-areas: 
            "Nav Nav"
            "hero form";                    
}

.email-signup{
    grid-area: form;
    align-self: center;
    justify-self: start;
    margin: auto;
    width: 441px;
    height: 60.52px;
    border: 2px solid #4540DB;
    box-sizing: border-box;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
        label {
            color: #4540DB;
        }
    }
    
.password-signup {
    grid-area: form;
    align-self: center;
    justify-self: start;
    width: 441px;
    height: 60.52px;
    left: 869px;
    top: 450px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
        /* or 125% */
        
    text-transform: uppercase;
        
    border: 2px solid #4540DB;
    box-sizing: border-box;
    border-radius: 4px;
    label {
        color: #4540DB;
        }
}

.password-confirm{
    grid-area: form;
    align-self: center;
    justify-self: start;
    width: 441px;
    height: 60.52px;
    left: 869px;
    top: 450px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
        /* or 125% */
        
    text-transform: uppercase;
        
    border: 2px solid #4540DB;
    box-sizing: border-box;
    border-radius: 4px;
    label {
        color: #4540DB;
        }
}

#user_password_confirmation{
        border-bottom: none;
        outline: none;
        box-shadow: none;
    
}

#user_applicant_attributes_fname{
        border-bottom: none;
        outline: none;
        box-shadow: none;
}

#user_applicant_attributes_lname {
    border-bottom: none;
    outline: none;
    box-shadow: none;
}

.fname-signup{
    grid-area: form;
    align-self: center;
    justify-self: start;
    margin: auto;
    width: 441px;
    height: 60.52px;
    border: 2px solid #4540DB;
    box-sizing: border-box;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
        label {
            color: #4540DB;
        }
}

.lname-signup {
    grid-area: form;
    align-self: center;
    justify-self: start;
    margin: auto;
    width: 441px;
    height: 60.52px;
    border: 2px solid #4540DB;
    box-sizing: border-box;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
        label {
            color: #4540DB;
        }
}

.avatar-signup{
    width: 441px;
    height: 37px;
    left: 869px;
    top: 522px;
    align-self: center;
    justify-self: start;
    grid-area: form;
    background: #4540DB;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

input[type="file"] {
    display: none;
}

#user_agency_attributes_name{
    border-bottom: none;
    outline: none;
    box-shadow: none;
}

#user_agency_attributes_kind{
    border-bottom: none;
    outline: none;
    box-shadow: none;
}

.agency-name{
    grid-area: form;
    align-self: center;
    justify-self: start;
    margin: auto;
    width: 441px;
    height: 60.52px;
    border: 2px solid #4540DB;
    box-sizing: border-box;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
        label {
            color: #4540DB;
        }
}

.agency-kind {
    grid-area: form;
    align-self: center;
    justify-self: start;
    margin: auto;
    width: 441px;
    height: 60.52px;
    border: 2px solid #4540DB;
    box-sizing: border-box;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
        label {
            color: #4540DB;
        }
}

.signup-btn {
    width: 100%;
    height: 37px;
    left: 869px;
    top: 522px;
    align-self: center;
    justify-self: start;
    grid-area: form;
    background: #4540DB;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    /* or 125% */
    padding: 4.5px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}